.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: black;
}

nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}


ul li {	
	display: inline;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

html {
    box-sizing: border-box;
    padding: 0 auto;

}

h1 {
 
 text-align: center;
 padding-bottom: 30px;
 color: white;
 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


.apple {
	text-align: center;
}





.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: url('../images/touble.jpg');
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: black;
	background: white;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

#sampler {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: absolute;
}

.artwork{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
 
}

.artwork > li {
background: radial-gradient(circle, black, white);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
	
}

.Effects > li {
  background: radial-gradient(circle, black, white);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
	
}

/*#Fx {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: absolute;
}*/




#search-term {
	height: 50px;
	width: 350px;
	display: block;
	margin: 0 auto;
	list-style-type: disc;
}

#search-results {
    height: 100px;
	width: 1150px;
	display: block;
	margin: 0 auto;
}

.button {
background: black;	
padding: 5px;
color: white;
font-weight: bold;
text-align: center;
}
