.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: black;
}

nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}


ul li {	
	display: inline;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

html {
    box-sizing: border-box;
    padding: 0 auto;

}

.new {
	color: white;
}

.dope {
	background-image: url('../images/dope.jpg');
	background-repeat: inherit;
	background-attachment: inherit;
	background-position: 49% 33%;

}


h1 {
 
 text-align: center;
 padding-bottom: 30px;
 color: white;
 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.apple {
	text-align: center;
}


.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: url('../images/touble.jpg');
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: black;
	background: white;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

#sampler {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: none;
	clear: both;
}

.artwork{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
 
}

.artwork  > li {
  background: radial-gradient(circle, black, white);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
	
}


.Effects > li {
  background: radial-gradient(circle, black, grey);
  padding: 5px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  position: relative;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
	
}

.Effects > li:hover > .tooltip {
        display: block;
}

.tooltip {
        display: none;
        position: absolute;
        top: -40px;
        font-size: 16px;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 15px;
        margin: 0;
        line-height: 16px;
        left: 25px;
}



@media screen and (max-width: 500px){
	.artwork > li, .Effects > li {
		display: none;
	}
	.artwork > li.sampler-18,.artwork > li.sampler-17,.artwork > li.sampler-16,.artwork > li.sampler-15 {
		display: flex;
	}
}


.hidden {
	display: none;
}


#search-term {
	text-align: center;
	display: block;
	margin: 0 auto;
	list-style-type: disc;
}

input.search-box {
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

.search-results {
  	width: 1150px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}

.draggable {
    width: 1150px;
	display: block;
	margin: 0 auto;
	/*	*/
	height: 220px;
	
}


.draggable >li {
    width: 100px; 
    padding: 5px; 
    margin: 10px 10px 10px 0;
    display: block;
    float: left;
}
img.awork {
    width: 100%;
}

.draggable > li > p {
	font-size: 0.9em;
}

.droppable > li {
	width: 200px; 
	padding: 5px; 
	margin-top: 10px; 

}

.spot {
	width: 300px;
}

.social {
    font-size: 1rem;
    color: black;
    text-align: center;

    margin-top: 30px;
    
  	padding: 1rem;
}
.social h5 {
    font: inherit;
}
 
.icons { 
  list-style: none;
  padding: 0;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .twitter {
    color: #55acee;
}

.social .instagram{
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

